<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cos/add.css' %}">
    <title>Document</title>
</head>

<body>
    {% load static %}
    {% if messages %}
<ul style="background-color: #f35858;height: 34px;text-align: center; font-size: 25px;">
    {% for message in messages %}
    <li {% if message.tags %} {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <h1 class="heading">Add Items</h1>
    <form action="/add" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="continer">
            <div class="in"><label for="dishname" class="lb">Dish Name</label><input name="dishname" type="text" class="inputsitems" placeholder="Enter Dish Name" required><br></div>
            <div class="in"> <label for="dishprice" class="lb">Dish Price</label><input type="number" class="inputsitems" placeholder="Enter Dish price" name="dishprice" required></div> 
            <div class="in"> <label for="dishimage" class="lb">Dish Image</label><input type="file" class="inputsitems" placeholder="Enter Dish price" name="dishimage" accept="image/*" required></div> 
            <button class="bt" type="submit">Add</button>
        </div>
    
    </form>
</body>
</html>