body{
    margin: 0px;
    padding: 0px;
}
table, th, td {
    border:1px solid black;
  }
.head
{
    background: #333;
    height: 57px;
    text-align: right;
}
.Logout
{
    height: 49px;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 85px;
    font-size: 17px;
    background-color: aqua;
    border-radius: 28px;
}
.add
{
    color: black;
    background-color: blue;
    display: inline-block;
}
