*
{
    margin: 0px;
    padding: 0px;
}
.form
{
    border: 2px solid black;
}
h1
{
    border:2px solid red;
    text-align: center;
}
.name
{
    text-align: center;
    margin-top: 2px;
}
input
{
    width: 24em;
    height: 2em;
}
.phone{
    text-align: center;
    margin-top: 2px;
}
.but
{
    text-align: center;
    margin: 4px;
}