body{
    background: url(/static/images/bg-3.jpg);
    font-family: 'Roboto', sans-serif;
}
.container h1{
    font-weight: 600;
}
.container{
    position: absolute;
    right: 1%;
    border: 1px solid white;
    margin: 80px 37px;
    padding: 10px 32px;
    width: 45%;
    height: 78%;
    border-radius: 11px;
}
.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 10px 0px;
    border: 2px solid gray;
    border-radius: 13px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: 0.2ms;
}
.form-group {
    margin: 23px;

}
.form-group input{
    text-align: center;
    display: block;
    width: 510px;
    height: 30px;
    padding: 6px;
    border: 1px solid black;
    margin: 12px auto;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
}
input:focus, textarea:focus {
    box-shadow: 0 0 8px rgb(69, 70, 70);
    border: 2px solid rgb(69, 70, 70);
  }

.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 20%;
    margin: auto;
}